.archives{
	.archive-header{
		&:extend(.inner-pad-responsive, .outer-pad-medium, #box-shadow .box-shadow-md, .bg-white);
	}
	#content{
		&:extend(.inner-auto-margin, #custom-page #inner-content );
		.transition(opacity;.8s;ease-in-out);
	}
	.archive-content{
		&:extend(.full-width-xs);
	}

	.archive-post-slides{
		&:extend(.inner-auto-margin, .full-width-mobile);
		width: 70%;
	}

	.archive-posts-wrapper{
		&:extend(.full-width-mobile, .outer-margin-none-mobile, .no-inner-padding-mobile);
	}

	.post-panel.post-count-1{
		&:extend(.bg-light, .margin-bottom-md);
		.post-panel-heading{
			&:extend(.pad-medium);
		}
		.post-excerpts{
			&:extend(.margin-top-md);
		}

	}
	.post-panel{
		&:extend(.bg-white, #box-shadow .box-shadow-md, .margin-bottom-sm, .no-border);
	}
	.post-info{
		&:extend(#post-page .post-info);
	}
	.post-panel-heading,.post-panel-footer, .post-panel-title{
		&:extend(.pad-small, .inner-pad-small, .relative);
	}
	.post-panel-heading{
		
	}//.post-panel-heading

	.post-panel-footer{
		&:extend(.font-small, .text-right, .no-top-padding, .no-bottom-padding, .margin-top-md, .no-inner-padding);
		.fa-fw{
			&:extend(.strong);
			font-size: 20px;
		}
	}
	.post-excerpts{
		&:extend(.text-justify, .inner-pad-small, .text-left-mobile);
	}
	
	.categories-list, .tags-list{
		.post-categories, .tag-list {
			li + li:before{
				&:extend(#post-page .tag-list li + li:before);
			}				
		}
	}

	.post-panel-footer{
		.categories-list .fa, .categories-list .post-categories, 
		.tags-list .tags-icon, .tag-list{
			&:extend(.inline-block);
		}
	}

	.archive-posts-summary{
		.list-group{
			&:extend(.no-inner-padding);
		}
	}


}

.archives.no-sidebar .archive-posts-wrapper{
	&:extend(.float-none, .full-width, .inner-auto-margin);
}

.category-archive-posts, 
#news-archive-posts, 
#recordings-archive-posts
{
	.post-panel{
		&:extend(.inline-block, .half-largescreen, .float-none-xs, .no-border, #box-shadow .box-shadow-small, .block-mobile);
		vertical-align: top;
	}
	.post-panel:not(.post-count-1){
		.transition(all, 800ms, ease-in-out);
		.post-panel-heading{
			&:extend(.no-bottom-padding);
		}//.post-panel-heading
		.post-excerpts{
			&:extend(.no-display);
		}
		.post-panel-footer{
			&:extend(.no-top-margin);
		}
	}
	.post-panel:hover:not(.post-count-1){
		border: 1px solid @gray-color;
		border-right: 4px solid @primary-color;
		&:extend(#box-shadow .no-shadow);
	}

}

#author-archive-posts{
	&:extend( .inner-margin-none-mobile, .no-inner-padding-mobile );
	margin-top: 60px;
	.post-panel{
		&:extend(.inline-block, .one-third-largescreen, .float-none-xs, .no-border, #box-shadow .box-shadow-small, .block-mobile);
		vertical-align: top
	}
	.post-panel-body{
		&:extend(.no-top-margin);
	}

	.post-excerpts{
		&:extend(.no-display);
	}

	.page-heading{
		&:extend( .outer-pad-xs);
		border-bottom: 2px solid @gray-color;
		h2{
			font-size: 48px;
		}
	}


	
}

.heading-icon{
	&:extend(.inline-block, .block-mobile, .middle);
}
.heading-icon + .heading-content{
	&:extend(.margin-left-sm, .full-width-mobile, .inline-block, .middle);
	width: 75%;
}

.post-panel{
	line-height: 1.5em;
	&:extend(.relative, .margin-bottom-md);
}

.panel-post{
	&:after{
		content: " ";
		&:extend( .clearfix );
	}
	&:extend(.pad-small, .relative);
}

#search-page{
	.archive-header {
		.search-keyword{
			&:extend(.dark);
		}
	}
}
.no-sidebar .archive-content, #search-results{
		.post-panel{
			&:extend(.inline-block,.float-none-xs);
			vertical-align: top;
		}
		.post-panel:not(.post-count-1){
			&:extend(.one-third-largescreen, .no-overflow, .no-border);
			.post-excerpts{
				&:extend(.no-display);
			}
		}
		.post-panel.post-count-1{
			&:extend(.half-largescreen);
		}

}