.archives, #search-page{
	.archive-header{
		&:extend(.inner-pad-responsive, .outer-pad-medium, #box-shadow .box-shadow-md, .bg-white);
	}
	#content{
		&:extend(.inner-auto-margin, .float-none, .pad-medium, #custom-page #inner-content, .relative );
		opacity: 1;
		.transition(opacity;.8s;ease-in-out);
	}
	.post-panel{
		line-height: 1.5em;
	}
	.post-panel.post-count-1{
		&:extend(.bg-light, .border-radius-md, .margin-bottom-md);
		.post-panel-heading{
			&:extend(.pad-medium);
		}

	}
	.post-panel{
		&:extend(.bg-white, #box-shadow .box-shadow-md, .relative, .margin-bottom-sm);
	}
	.breadcrumb{
		&:extend(#post-page .breadcrumb, .no-padding);
			&:after{
				content: "";
				&:extend(.float-none);
			}
	}
	.post-panel-heading,.post-panel-footer, .post-panel-title{
		&:extend(.pad-small, .inner-pad-small, .relative);
	}
	.post-panel-heading{
		.top-post-info{
			&:extend(.dark, .font-small, .oblique, .no-margin, .inner-pad-small );
			li{
				&:extend(.float-left);
				margin-right: 20px;
			}

		}
	}//.post-panel-heading
	.post-panel-footer{
		&:extend(.font-small, .text-right, .no-top-padding, .no-bottom-padding, .margin-top-md);
		.fa-fw{
			&:extend(.strong);
			font-size: 20px;
		}
		.post-categories{
			&:extend(#post-page .post-categories);
		}
	}

	.post-thumbnail{
		img{
			&:extend(.full-width-image);
		}
		iframe{
			&:extend(.full-width);
		}

	}
	.post-excerpts{
		&:extend(.text-justify, .inner-pad-small);
	}
	
	.categories-list, .tags-list{
		&:extend(#post-page .tags-list);
		.post-categories, .tag-list {
			li + li:before{
				&:extend(#post-page .tag-list li + li:before);
			}
			li{
				&:extend(.inline);
			}					
		}
		.tag-list{
			&:extend(#post-page .tag-list);
		}
	}

	.archive-posts-summary{
		.list-group{
			&:extend(.no-outer-padding);
		}
	}
	.pagination{
		&:extend(.block, .text-center);
	}

}

.category-archive-posts, 
#news-archive-posts, 
#author-archive-posts,
#recordings-archive-posts
{
	.post-panel:not(.post-count-1){
		&:extend(.inline, .half-largescreen, .float-left, .float-none-xs);
	}

}

#author-archive-posts{
	.post-panel-body{
		&:extend(.no-top-margin);
	}
	time{
		&:extend(.font-small);
	}
	.post-excerpts{
		&:extend(.padding-bottom-sm);
	}

	.page-heading{
		&:extend( .outer-pad-xs, .bg-white );
		border-bottom: 2px solid @gray-color;
		h2{
			font-size: 48px;
		}
	}
	.panel-post{
		&:after{
			content: " ";
			&:extend( .clearfix );

		}
		&:extend(.pad-small, .bg-white);
	}
	.panel-posts{
		&:extend(.margin-bottom-sm, .relative);
	}

	.collapse-heading, .collapse-item{
		&:extend(#box-shadow .box-shadow-small);
	}
	
}

.heading-icon{
	&:extend(.inline, .block-mobile, .middle);
}
.heading-icon + .heading-content{
	&:extend(.margin-left-sm, .full-width-mobile, .inline, .middle);
	width: 75%;
}

#search-page{
	.archive-header {
		.search-keyword{
			&:extend(.dark);
		}
	}
	#search-results{
		.post-panel{
			&:extend(.inline, .float-left, .float-none-xs);
		}
		.post-panel:not(.post-count-1){
			&:extend(.one-third-largescreen, .no-overflow);
			height: 320px;
			transition: all 2s ease-in-out;
		}
		.post-panel:hover{
			height: auto;
		}
		.post-panel.post-count-1{
			&:extend(.half-largescreen);
		}
	}

}