/*
* footer styles 
*
*/
#site-footer{
	box-shadow: 2px 0px 2px @dark-primary-color;
	webkit-box-shadow: 2px 0px 2px @dark-primary-color;
	&:extend(.margin-top-md, .bg-light);
	
	#footer-bottom{
		&:extend(.margin-top-md, .inner-pad-responsive, .outer-pad-small, .bg-dark);

	}
	#inner-footer{
		&:extend(.relative, .md-50, .outer-pad-lg);
		#site-about{
			&:extend(.pad-small, .oblique);
		}
		.header-contacts{
			&:extend(.inline, .block-mobile, .full-width-mobile);
			width: 30%;
			vertical-align: top;
		}
		.fa-2x{
			font-size: 20px;
		}
	}
	#footer-header{

	}
	#site-info{
		.custom-logo{
			&:extend(.logo-md);
			width: auto;
		}
		#site-name{
			font-size: 32px;
			margin-left: 10px;
			vertical-align: middle;
		}
		.description{
			&:extend(.margin-top-xs, .strong);
		}
	}
}