/*
* footer styles 
*
*/
#site-footer{

	&:extend(.margin-top-md);
	
	#footer-bottom, #before-footer{
		&:extend(.inner-pad-responsive, .outer-pad-small);
	}

	#footer-bottom{
		&:extend(.bg-dark);
	}

	#before-footer{
		&:extend(.no-bg, .mini-height, #box-shadow .box-shadow-md);
		border-top: 2px solid #eee;
		
	}
	#inner-footer{
		
		&:extend(.relative, .pad-large, .bg-light);
		#site-about{
			&:extend(.pad-small, .oblique);
		}
		.fa-2x{
			font-size: 20px;
		}
	}
	#footer-site-info{
		.custom-logo{
			width: 240px;
			height: auto;
			max-width: 80%;
		}
		#site-name{
			font-size: 32px;
			margin-left: 10px;
			vertical-align: middle;
		}
		.description{
			&:extend(.margin-top-xs, .strong);
		}
		address{
			line-height: 1.5em; 
			&:extend(.oblique);
		}

	}
	.disclaimer{
		&:extend(.oblique, .dark);
	}
	.line-divider{
		border: 1px solid @gray-color;
		clear: both;
	}
	.copyright{
		font-size: 17px;
	}
	#footer-bottom{
		color: #000;
		
		a{
			.transition(all,800ms,ease-in-out);
		}
		a:link{
			color: @gray-color;
		}
		a:visited{
			text-decoration: underline;
		}
		a:hover{
			color: #fff;
		}
	}
}