/*
* footer styles 
*
*/
#site-footer{
	box-shadow: 2px 0px 2px @dark-primary-color;
	webkit-box-shadow: 2px 0px 2px @dark-primary-color;
	&:extend(.margin-top-md, .bg-light);
	

	#footer-bottom, #before-footer{
		&:extend(.inner-pad-responsive, .outer-pad-small, .bg-dark);
	}
	#inner-footer{
		&:extend(.relative, .pad-large);
		#site-about{
			&:extend(.pad-small, .oblique);
		}
		.fa-2x{
			font-size: 20px;
		}
	}
	#site-info{
		.custom-logo{
			width: 240px;
			height: auto;
		}
		#site-name{
			font-size: 32px;
			margin-left: 10px;
			vertical-align: middle;
		}
		.description{
			&:extend(.margin-top-xs, .strong);
		}

	}
	.disclaimer{
		&:extend(.oblique);
	}
	#footer-bottom{
		color: #000;
		.list-left{
			&:extend(.float-left, .float-none-xs);
		}
		.list-right{
			&:extend(.float-right, .float-none-xs);
			li{
				.transition(all, 800ms, ease-in-out);
				.oblique{
					display:none;
				}
			}
			li:hover .oblique{
				display:block;
				
			}
		}
		a{
			.transition(all,800ms,ease-in-out);
		}
		a:link{
			color: @gray-color;
		}
		a:visited{
			text-decoration: underline;
		}
		a:hover{
			color: #fff;
		}
	}
}