#secondary-menu{
	.nav-pills {
		.menu-item a {
			padding: 10px 15px 10px 15px;
			border-radius: 20px;
			text-decoration: none;
			border: 1px solid @primary-color;
			background-color: #fff;

		}
		.menu-item{
			margin-right: 30px;
		}
		.menu-item a:before{
			content: "#";
		}

		.menu-item a:hover{
			background-color: @bg-color;
			
		}
	}
}

#primary-menu{
	&:extend(.no-border, .bg-white);
	.custom-logo{
		height: 48px;
	}
	.navbar-collapse{
		&:extend(.float-right,.float-none-sm, .float-none-xs);
		li > a{
			padding-top: 24px;
		}
		.navbar-form{
			margin-top: 12px;
		}
		.menu-item a{
			&:extend(.primary);
			transition: all 0.8s ease-in-out;
			&:visited{

			}
			&:hover{
				&:extend(.bg-dark);
			}
			.active{
				&:extend(.bg-primary);
			}
		}
		#navbar-search-box.in{
			&:extend(.inline);
		}

	}
	.navbar-header{
	&:extend(.pad-xs);
		.navbar-brand{
			&:extend(.float-none-sm);
			height: auto !important;
			padding: 0px !important;
			font-size: 24px;
		}
	}

	
}

#primary-icon-nav{
	.fa{
		font-size: 18px;
	}
}

#social-contacts{
	.nav{
		a{
			&:extend(.pad-xs);
		}
	}
}

#menu-social{
	li a{
		&:extend( #post-page .author-social-contacts a );
		color: @primary-color;
		margin-right: 7px;
	}
	li a:visited{
		&:extend( .bg-gray, .primary );
	}
	li a:hover{
		&:extend( #post-page .author-social-contacts a:hover );
	}
	li a:active{
		&:extend( .bg-light, .dark );
	}
}