#secondary-menu{
	.nav-pills {
		.menu-item a {
			padding: 10px 15px 10px 15px;
			border-radius: 20px;
			border: 1px solid @primary-color;
			&:extend(.bg-white, .no-text-decoration);
		}
		.menu-item{
			margin-right: 30px;
		}

		.menu-item a:hover{
			background-color: @bg-color;
			
		}
	}
}

#primary-menu{
	&:extend(.no-border, .bg-white);

	.custom-logo{
		height: 48px;
	}
	.navbar-collapse{
		&:extend(.float-right,.float-none-sm, .float-none-xs);
		li > a{
			padding-top: 24px;
		}
		.menu-item a{
			&:extend(.primary);
			transition: all 0.8s ease-in-out;
			&:visited{

			}
			&:hover{
				&:extend(.bg-dark);
			}
			.active{
				&:extend(.bg-primary);
			}
		}
		#navbar-search-box.in{
			&:extend(.inline-block);
		}

	}
	.navbar-header{
	&:extend(.pad-xs);
		.navbar-brand{
			&:extend(.float-none-sm);
			height: auto !important;
			padding: 0px !important;
			font-size: 24px;
		}
	}

	
}

#primary-icon-nav{
	.fa{
		font-size: 18px;
	}
}

.navbar-form{
	.search-submit{
		&:extend(.absolute, .no-border, .bg-white, .primary);
		left: 85%;
		top: 5px;
		.transition(all;800ms;linear);
		.fa{
			font-size: 20px;
		}
		&:hover{
			&:extend(.dark);
		}
	}
}

.social-contacts{
	&:extend(.full-width);
	a{
		border-radius: 50%;  
		height: 36px;
		width: 36px;
		&:extend(.bg-white,.text-center, .primary, .block);
		padding-top: 6px;
		.transition(all,0.4s,ease-in-out);
		&:hover{
			&:extend(.bg-dark, .no-bottom-border);
			color: #fff;
		}
	}
}

.social-contacts, 
#menu-social, 
#social-contacts{
	a:hover{
		.scale(1.2, 1.2);
	}
}

#menu-social, #social-contacts{
	.menu-item, li{
		display: inline-block;
	}
	li a{
		&:extend( .social-contacts a, .pad-xs );
		color: @primary-color;
		margin-right: 7px;
	}
}

#menu-social{

	li a:visited{
		&:extend( .bg-gray, .primary );
	}
	li a:hover{
		&:extend(.bg-dark );
	}
	li a:active{
		&:extend( .bg-light, .dark );
	}
}

#social-contacts{
	li a:hover{
		&:extend(.no-bg);
		color: @dark-primary-color;
	}

	li a:visited{
		&:extend(.no-bg);
		color: @dark-primary-color;
	}
}