/*
* Styling pages 
*
*/

#site-page{
	.page-content{
		&:extend(.no-padding, .bg-white);
	}
	.entry-header, .entry-footer{
		&:extend(.mini-height, .pad-small, #box-shadow .box-shadow-small, .no-inner-margin);
	}
	.entry-header{
		border-top: 6px solid @dark-primary-color;
	}
	.entry-footer{
		border-bottom: 6px solid @dark-primary-color;
	}
	#page-content-header{
		&:extend(.bg-dark);
		.page-title-wrap{
			&:extend(.outer-pad-medium);
		}
	}
	.inner-content{
		background-size: cover;
		background-repeat: no-repeat;
		&:extend(.outer-pad-medium);
	}
	#page-media{
		&:extend(.no-overflow);
	}
	.wp-post-image{
		max-height: 240px;
		&:hover{
			.scale(1.2,1.2); 
			max-height: 360px;
		}
	}
	.entry-content{
		&:extend(.margin-top-md);
		blockquote{
			&:extend(.margin-left-sm, .pad-medium, .relative, .no-border);
			&:before, &:after{
				font-family:'FontAwesome';
				&:extend(.absolute, .flip-vertical); 
			}
			&:before{
				content: "\f10d";
				top: 10px;
				left: 3px;
			}
			&:after{
				content: "\f10e"; 
				bottom: 10px;
				right: 3px;
			}
		}
	}

	
}

.no-sidebar{
	.page-title-wrap{
		&:extend(.text-center);
	}
}

#error-404-page{
	.page-content{
		&:extend(.margin-bottom-md);
	}
	.entry-content{
		.page-header{
			&:extend(.dark, #text-shadow .text-shadow-md, .no-border);
			font-size: 8em;
		}
	}
	
}

/*
* custom page template
*
*/
#custom-page{
	#inner-content{
		&:extend(.pad-small, .inner-auto-margin);
		.post-thumbnail{
			img { 
				max-height: 480px;
			}
			.post-thumbnail-caption{
				&:extend(.text-capitalize, .text-center, .pad-xs);
			}
		}
	}
	.entry-content{
			&:extend(.responsive-right-border, .no-overflow);
			border-right-color: @gray-color !important;
			border-bottom-color: @gray-color !important;
			font-size: 15px;
			line-height: 2.0;
			figure.alignleft{
				&:extend(.border, #box-shadow .box-shadow-small);
				border-color: #eee;
				a img{
					&:extend(.full-width-image);
				}
			}
			.well{
				&:extend(.bg-light);
				border-color: @dark-primary-color;
			}
			.panel-heading, .panel-footer{
				&:extend(#custom-page .entry-content .well, .bottom-border);
			}
			.panel-default{
				border-color: @dark-primary-color;
			}
	}


	#page-content-header{
		&:extend(.pad-medium,.bg-light, .top-border, #box-shadow .box-shadow-small);
		
		#page-title-wrap{
			&:extend(.outer-pad-lg);
		}
		
	}
	.post-summary{
		&:extend(.font-small, .oblique);
	}
	.post-info{
		&:extend(#post-page .post-info);
	}

}
