#post-page{

	.before-content{
		&:extend(.mini-height);
	}
	.post-tags{
		&:extend(.padding-left-sm, .padding-top-sm);
	}

	.post-author-name{
		&:extend(.middle);
	}

	.post-info{ 
		&:extend(.dark); 
	}
	.post-content{
		&:extend(.relative);
	}
	.single-post-panel{
		&:extend(.bg-white, .border, .relative, .no-overflow);
		border-color: #ddd;
	}
	.entry-header{
		&:extend(.inner-pad-small, .bottom-border);
		border-bottom-color: @gray-color;
	}
	.entry-content{
		&:extend(.margin-bottom-sm );

		figure.alignleft, figure.alignright, figure.alignnone{
			&:extend(.border, .bg-light);
		}
		a:not(.btn){			
			&:extend(#link .primary);
			&:visited{
				&:extend(#link .primary:visited);
			}
			&:hover{
				&:extend(#link .primary:hover);
			}
		}

		.slick-prev:before, .slick-next:before{
			&:extend(.dark);
		}
		.slick-center{
			.scale(1.2,1.2);
			z-index: 50;
		}
		.gallery{
			&:extend(.margin-top-md);
		}

	}//.entry-content//

	

	.post-navigation{
		.glyphicon{
			font-size: 36px;
			top: 20%;
		}
		.previous-post, .next-post{

			.previous-button, .next-button{
				&:extend(#button .button-md, .block, .relative);
				&:hover{
					&:extend( #button .button-md:hover );
				}
				.glyphicon{
					&:extend(.absolute);
				}
			}
		}
		.previous-post {
			.previous-button{
				padding-left: 40px !important;
				padding-right: 10px !important;
			}
			.glyphicon{
				left: 5px;
			}
		}
		.next-post{
			.next-button{
				padding-left: 10px !important;
				padding-right: 40px !important;
				.glyphicon{
					right: 5px;
				}
			}
		}
	}//.post-navigation//

	.author-info{
		&:extend(.bg-gray);
		.author-photo, .author-details{
			img{
				width: 90px;
				height: 90px;
			}
		}
		.author-details{
			vertical-align: top;
		}
		.author-description{
			&:extend(.margin-top-sm);
		}
		.author-rate{
			&:extend(.font-small);
		}

	} //.author-info//
	

	.post-taxonomies{
		&:extend(.inner-pad-small, .bg-light, .outer-pad-medium);
	}

	.post-thumbnail{
		max-height: 360px;
	}

	.post-excerpt{
		&:extend(.font-small, .pad-xs, .oblique, .margin-bottom-md, .dark, .inner-pad-small);
		border-left: 3px solid @dark-primary-color;
	}
	
	.post-thumbnail-caption{
		&:extend(.pad-xs, .oblique, .font-small, .gray, .inner-pad-small);
	}

	.tag-list{
		li + li:before{
			content: "\00bb"; 
			padding: 0 5px;
		}
	}

	.entry-footer-info{
		&:extend(.inner-pad-responsive, .relative, .outer-pad-medium);
		.entry-footer-heading{
			&:extend(.margin-top-sm, .margin-bottom-md, .text-center, .relative, .padding-bottom-sm);
			&:after{
				content: "";
				&:extend(.absolute);
				height: 5px;
				width: 50px;
				left: 45%;
				top: 30px;
				border-bottom: 3px solid @dark-primary-color;
			}
		}
	}
	.related-posts{
		&:extend(.bg-light);
		overflow: visible;
		padding-left:30px !important;
		padding-right: 30px !important;
		.post-panel {
			&:extend(.bg-white, #box-shadow .box-shadow-small);
			margin: 0px 5px;
			.post-panel-body{
				&:extend( .pad-small );
			}
			.post-panel-heading{
				padding: 0px !important;
			}

		}
		.slick-list{
			overflow: unset;
		}
		.slick-next::before, .slick-prev::before{
			font-size: 36px;
		}
		.slick-prev{
			z-index: 99;
			right: -5px;
		}
	}

}

#quote-post-page{
	#post-content-header{
		&:extend(#custom-page #page-content-header, .bg-white);
	}
	.post-entry{
		&:extend(.pad-medium, #box-shadow .box-shadow-md, .border-radius-md);
	}
	#quote-content{
		&:extend(.outer-pad-lg, #custom-page #inner-content);
	}
	.entry-content{
		&:extend(.bg-white, #box-shadow .box-shadow-small);
		footer{
			&:extend(.archives .post-panel-footer);
			&:before{
				&:extend(.float-right);
			}
		}
	}
	.post-info{
		li+li:before{
			content: "";
		}
	}
	
	.tag-list, .post-categories{
		li + li:before{
			&:extend(#post-page .tag-list li +li:before);
		}
	}
	.tags-icon, .categories-icon{
		&:extend(.archives .post-panel-footer .fa-fw);
	}
}

#gallery-post-page{
	#quote-content{
		&:extend(#custom-page #inner-content, .inner-auto-margin, .pad-medium);
	}
	.entry-content{
		.gallery-item{
			&:extend(.inline-block, .half-largescreen, #custom-page .entry-content figure.alignleft, 
			.margin-right-xs, .float-left, .no-overflow);
			img{
				.transition(all,2s,ease-in-out,1s);
				&:hover{
					.scale(1.5,1.5); 
				}
			}
		}
		.gallery-icon{
			&:extend(.no-overflow);
		}
		.gallery-item:hover{
			&:extend(.bg-white, .border);
			figcaption{
				&:extend(.strong);
			}
		}

	}
	#post-content-header{
		&:extend(#quote-post-page #post-content-header);
	}

	.gallery-image{
		height: 120px; 
		img{
			min-height: 130px;
		}
	}
	
}