/*
* Sidebar styles 
*/
#sidebar-404{
	&:extend(.margin-bottom-md);
	.page-header{
		&:extend(.pad-large .page-header);
	}
	#latest-posts{
		&:extend(.bg-white, .pad-medium, #box-shadow .box-shadow-small);
		
	}
	#quotes{
		background-color: darken( @bg-color, 30% );
		&:extend(#box-shadow .box-shadow-small);
	}
}

#post-page .sidebar{
	&:extend(.no-padding, .one-third-largescreen);
	.widget{
		&:extend(.bg-white, .inner-pad-small, .padding-bottom-sm, .border-radius-md, .no-overflow);
		box-shadow: 0px 2px 1px @gray-color;
	}

	.widget + .widget{
		&:extend( .margin-top-sm );
	}
	.widget-title{
		&:extend( .outer-pad-xs, .margin-minus-left-sm, .margin-minus-right-sm, 
		.no-top-margin, .inner-pad-small, .tooltip-box-md, .bg-dark, .margin-bottom-md );
		border-bottom: 2px inset @dark-primary-color;
		&:after{
			&:extend( .tooltip-box-md:after );
			border-color: @dark-primary-color transparent transparent transparent;
			border-width: 15px;
		}
	}
	a:not(.btn){
		&:extend( .primary );
	}
}

#site-page .sidebar{
		
	.widget{
		&:extend(.bg-white, .border-radius-md, .pad-small, #box-shadow .box-shadow-small, .border, 
		.margin-bottom-sm, .no-top-padding);
		border-bottom-width: 20px;

		.widget-title{
			&:extend(.font-medium, .text-center);
		}
		
	}

}

#custom-page {
	.widget{
		&:extend(.pad-small, .relative);
		.box-shadow(0px, 5px, 5px, 0px lighten(@gray-color, 2%));
		&:after{
			content: "";
			&:extend(.absolute); 
			border-width: 60px;
			border-style: solid;
			border-color: @bg-color @bg-color transparent transparent;
			top: -30px; 
			right: 0px;
			z-index: 10;
		}
	}
	.widget_abbey-contact-form{
		&:extend(.bg-white);
	}
}

#gallery-sidebar{
	&:extend(.border-radius-md, .border, .no-padding, .relative);
}
.gallery-widgets{
	&:extend(.pad-small, .bottom-border, .relative, .no-overflow); 
	&:after{
		&:extend(.float-none);
	}
}
.gallery-widgets:last-of-type{
	&:extend(.no-border, .bg-white);
}
.gallery-widgets:nth-child(even):not(:last-of-type){
	&:extend(.bg-light);
}
.widget-icon, .widget-text{
	&:extend(.table-cell, .middle);
}
.widget-icon{
	&:extend(.font-medium, .padding-right-sm);
}
.gallery-pictures-widget{
	.widget-content{
		a{
			&:extend( .inline-block, #gallery-post-page .gallery-image, .float-left, 
			.margin-right-xs, .margin-bottom-sm );
			width: 46%;
		}
		img{
			&:extend(#gallery-post-page .gallery-image img);
		}
	}
}

.sidebar{
	.btn-link{
		&:extend(.primary);
	}
	&:extend(.inner-padding-mobile);
}