html{
	font-size: 100%;
}
body{
	margin:0px;
	background-color: @bg-color;
	
}
.container-fluid, 
.container{
	&:extend(.no-overflow);
}

.navbar{
	.no-border-radius();
	&:extend(.no-bottom-margin);
}



.container-fluid .jumbotron{
	.no-border-radius();
	width: inherit; 
	.margin(0px -20px -20px 0px);
}

#content {
	&:extend(.relative, .pad-medium );
}
.site-content{
	min-height: 500px;
	min-height: 70vh;
}

.content-header{
	&:extend(#box-shadow .box-shadow-md);
}

a{
	&:extend(.no-text-decoration, .primary );
	color: @primary-color;
	.transition(all;0.8s;ease-in-out);
	&:hover{
		color: @dark-primary-color;
	}
}

.full-width{
	.no-border-radius();
	width: 100%;
	.no-border();
}

.pad-small{
	.padding(@base-padding * 1.5);
}
.pad-xs{
	.padding(@base-padding/2);
}

.pad-medium{
	.padding(@base-padding * 3);
}

.no-padding-right{
	padding-right: 0px !important;
}
.no-padding-left{
	padding-left: 0px !important;
}
.pad-large{
	padding-top:80px;
	padding-bottom: 100px;
	&:extend(.pad-large-sm, .pad-large-md, .pad-large-xs, .pad-large-lg);
		.page-header{
			border-bottom: 0px;
		}

}
.inner-pad-small{
	padding-left: @base-padding * 1.5;
	padding-right: @base-padding * 1.5;
}
.inner-pad-medium{
	padding-left: @base-padding * 4;
	padding-right: @base-padding * 4;
}
.outer-pad-medium{
	padding-top: @base-padding * 4;
	padding-bottom: @base-padding * 4;
}
.outer-pad-small{
	padding-top: @base-padding * 1.5;
	padding-bottom: @base-padding * 1.5;
}
.outer-pad-lg{
	padding-top: @base-padding * 8;
	padding-bottom: @base-padding * 8;
}
.outer-pad-xs{
	padding-top: @base-padding;
	padding-bottom: @base-padding;
}

.inner-pad-lg{
	padding-left: @base-padding * 8;
	padding-right: @base-padding * 8;
}
.padding-bottom-sm{
	padding-bottom: @base-padding * 1.5;
}
.padding-top-sm{
	padding-top: @base-padding * 1.5;
}
.padding-right-sm{
	padding-right: @base-padding * 1.5;
}
.padding-left-sm{
	padding-left: @base-padding * 1.5;
}
.no-left-padding{
	padding-left: 0px;
}
.no-right-padding{
	padding-right: 0px;
}
.no-bottom-padding{
	padding-bottom: 0px;
}
.no-top-padding{
	padding-top: 0px;
}
.no-padding{
	padding: 0px;
}
.no-inner-padding{
	&:extend(.no-padding-left, .no-padding-right);
}

.no-border{
	border:0px;
	border-radius: 0px;
}

.border{
	border: 1px solid @default-border-color;
}
.bottom-border{
	border-bottom: 1px solid @default-border-color;
}
.top-border{
	border-top: 1px solid @default-border-color;
}
.left-border{
	border-left: 1px solid @default-border-color;
}
.border-radius-md{
	border-radius: @default-border-radius;
}
.no-bottom-border{
	border-bottom: 0px;
}

.no-bottom-margin{
	margin-bottom: 0px;
}
.no-top-margin{
	margin-top: 0px;
}
.no-left-margin{
	margin-left: 0px;
}
.no-right-margin{
	margin-right: 0px;
}
.margin-top-sm{
	margin-top: 15px;
}

.margin-bottom-sm{
	margin-bottom: 15px;
}

.margin-top-md{
	margin-top: 30px;
}
.margin-bottom-md{
	margin-bottom: 30px;
}

.margin-right-sm{
	margin-right: 15px;
}
.margin-right-xs{
	margin-right: 7px;
}
.margin-left-xs{
	margin-left: 5px;
}
.margin-top-xs{
	margin-top: 5px;
}
.margin-left-sm{
	margin-left: 15px;
}
.margin-left-md{
	margin-left: 30px;
}
.margin-md{
	margin: 30px;
}
.inner-auto-margin{
	margin-left: auto;
	margin-right: auto;
}
.no-margin{
	margin: 0px;
}

.margin-minus-left-md{
	margin-left: -30px;
}
.margin-minus-right-md{
	margin-right: -30px;
}
.margin-minus-bottom-md{
	margin-bottom: -30px;
}

.margin-minus-left-sm{
	margin-left: -15px;
}
.margin-minus-bottom-sm{
	margin-bottom: -15px;
}
.margin-minus-right-sm{
	margin-right: -15px;
}

.margin-minus-top-sm{
	margin-top: -15px;
}

.font-small{
	font-size: 16px;
	font-size: 0.8525em;
	
	
}

time{
	&:extend(.font-small);
}
.font-large{
	font-size: 60px;
}
.font-medium{
	font-size: 24px;
}
.strong{
	font-weight: 600;
}

.float-right{
	float: right;
}
.float-left{
	float: left;
}
.float-none{
	clear: both;
	display: block;
}

.screen-reader-text{
	&:extend(.no-display);
}

.middle{
	vertical-align: middle;
}
.block{
	display: block;
}
.table-cell{
	display: table-cell;
}

.relative{
	position: relative;
}

.absolute{
	position: absolute;
}

.fixed{
	position: fixed;
}
.no-overflow{
	overflow: hidden;
}
.no-display{
	display: none;
}
.icon-large{
	font-size: 7em;
}

.clearfix{
	clear:both;
	display: table;
}

.text-center{
	text-align: center;
}

.text-justify{
	text-align: justify;
}
.text-right{
	text-align: right;
}

.text-uppercase{
	text-transform: uppercase;
}

.text-capitalize{
	text-transform: capitalize;
}

.text-mute{
	&:extend(.light);
}

.no-text-decoration{
	text-decoration: none;
}

.oblique{
	font-style: italic;
}

.full-width-image{
	width: 100%; 
	&:extend(.auto-height);
}
.auto-height{
	height: auto;
}
.max-full-width{
	max-width: 100%;
}

.mini-height{
	min-height: 60px;
}

.full-width{
	width: 100%;
}

.page-title, 
.post-title{
	&:extend(#text-shadow .text-shadow-small);
}
#content > .row, 
#post-page .post-navigation{
	&:extend(.no-left-padding, .no-right-padding, .no-left-margin, .no-right-margin);
}


.dropdown-menu{
	padding-right: 0px;
	a{
		width: 100% !important;
	}
}

.inline-block{
	display: inline-block;
}

body.rtl {
	.float-rtl{
		float: right;
	}
}
