.entry-content{
	line-height: 24px;
	&:extend(.pad-medium);
	h2{
		font-size: 4em;
	}
	
	h2, h1, h3, h4, h5, h6 {	
		&:extend(.padding-bottom-sm, .relative);
		&:after{
			content: "";
			&:extend(.block,.absolute);
			width: 60px;
			border-bottom: 4px solid @dark-primary-color;

		}
	}
	table{
		width: 100% !important;
		height: auto !important;
		border-collapse: collapse;
		&:extend(.float-none, .margin-top-sm, .margin-bottom-sm); 
		th, td{
			&:extend(.padding-top-sm, .padding-bottom-sm, .pad-xs, .bottom-border);
			vertical-align: top;
		}
		th{
			border-width: 2px;
			&:extend(.text-uppercase, .dark, .bg-light);
		}
		tr:last-child td{
			&:extend(.no-bottom-border);
		}
		tr:hover{
			&:extend(.bg-light, .strong);
		}
		
		td{
		}
	}
	p{
		font-size: 1em;
	}
}

.nav{
	font-size: 1.25em;
}

